stages:
  - test
  - deploy

variables:
  DOCKER_IMAGE: "evgeniy996/energotechnics_selenium_java"
  ALLURE_RESULTS: "allure-results"
  ALLURE_REPORT: "allure-report"

run-tests:
  stage: test
  image: docker:20.10.16
  services:
    - docker:20.10.16-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ""
    IMAGE_TAG: ${IMAGE_TAG:-debug}
  script:
    - |
      # Pull образа
      docker pull $DOCKER_IMAGE:$IMAGE_TAG
      
      # Создание директорий Allure
      mkdir -p $ALLURE_RESULTS 
      mkdir -p $ALLURE_REPORT

      # Запуск тестов и генерация отчета
      docker run \
        --shm-size=2g \
        -v "$(pwd)/$ALLURE_RESULTS:/app/$ALLURE_RESULTS" \
        -v "$(pwd)/$ALLURE_REPORT:/app/$ALLURE_REPORT" \
        $DOCKER_IMAGE:$IMAGE_TAG || true
  after_script:
    - docker system prune -f || true
  artifacts:
    paths:
      - $ALLURE_RESULTS/
      - $ALLURE_REPORT/
    when: always
    expire_in: 1 week
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "schedule"'
      when: manual

pages:
  stage: deploy
  dependencies:
    - run-tests
  script:
    - mkdir -p public
    - cp -r $ALLURE_REPORT/* public/ || echo "No report yet"
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_PIPELINE_SOURCE == "web" || $CI_PIPELINE_SOURCE == "schedule"'
      when: always